<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AcamicaSuiteTest">
    <test name="CheapTickets.com">
        <classes>
            <class name="testCases.TC1"/>
            <class name="testCases.TC2"/>
            <class name="testCases.TC3"/>
            <class name="testCases.TC4"/>
            <class name="testCases.TC5"/>
        </classes>
    </test>
</suite>

